<html>
    <head>
        <style>
            form{
                display:flex;
                flex-direction: column;
                width: fit-content;
            }
        </style>
    </head>
    <body>
        <form action="http://localhost:8080/addBlog">
            <input name = "heading"type="text" placeholder="enter headin">
            <input type="text" name='blogcontent'placeholder="enter content">
            <input type="submit">
        </form>

        


    </body>
</html>