<html>
    <head>
        <style>
            form{
                display:flex;
                flex-direction: column;
                width: fit-content;
            }
        </style>
    </head>
    <body>
        <form action="http://localhost:8080/signin">
            <input name = "name"type="text" placeholder="enter your name">
            <input type="email" name="email" placeholder="enter your email">
            <input type="number" name="phone_no" placeholder="mobile">
            <input type="password" name='password'placeholder="enter your password">
            <input type="submit">
        </form>
        </body>
</html>
