<html>
    <head>
        <style>
            form{
                display:flex;
                flex-direction: column;
                width: fit-content;
            }
            .navdash{
                width:100%;
                display: flex;
                flex-direction: row;
                gap:10px ;
                background: aqua;
                flex-wrap: wrap;
                justify-content:space-between;
            }
        </style>
    </head>
    <body>
        
        <h1> Welcome</h1>
        <div class="navdash">
            <a href="http://localhost:8080/viewblog" ><button>view blog</button></a>

            <a href="http://localhost:8080/signin" ><button>Home</button></a>
            <a href="http://localhost:8080/addblog" ><button>BLOG</button></a>
            <input type="search" placeholder="enter user_id"></input>
            <a href="http://localhost:8080/signin" ><button>SIGN UP</button></a>
            <a href="http://localhost:8080/selectblog" ><button>view blogs</button></a>

           <!-- <button>LOG IN</button>-->
            <a href="http://localhost:8080/login" ><button>Login</button></a>

        </div>

    </body>
</html>