<html>
    <head>

    </head>
    <body>
        
        <form action="http://localhost:8080/login">
            <input required  type="email" placeholder="enter email_id" name="email">
            <input required type="password" placeholder="enter password" name="password">
            <input type="submit">
        </form>

    </body>
</html>