<html>
    <head>
        <style>
           
        

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f4f7;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}


form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2rem;
  width: 530px;
  height: 380px;
  border-radius: 0.5rem;
 /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);*/
}

form input {
  border: 2px solid #34495e;
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  
  font-size: 1.1rem;
}



form .login {
  outline: none;
  border: none;
  background: #2b81d6;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
}

form .login:hover {
  background: #0f71f1;
  cursor: pointer;
}

form a {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  padding-top: 0.8rem;
  color: #1877f2;
}

form hr {
  background: #f7f7f7;
  margin: 1rem;
}

/*form*/ .create-account {
  outline: none;
  border: none;
  background: #06b909;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
  width: 480px;
  margin: 0 auto;
  position: relative;
  bottom: 72px;
}

/*form*/ .create-account:hover {
  background: #2a7fd3;
  cursor: pointer;
}

/* //.........Media Query.........// */





            
        </style>
    </head>
    <body>
        
        <div class="content">
            <div class="flex-div">
                <form action="http://localhost:8080/login " method='post'> 
                <input required  type="email" placeholder="enter email_id" name="email">
                <input required type="password" placeholder="enter password" name="password">
            
          
                <button class="login" type="submit">Log In</button>
                <a href="#">Forgot Password ?</a>
                <hr>

                </form>
                <a href="http://localhost:8080/signin"><button class="create-account">Create New Account</button></a>

             <!--<form action="http://localhost:8080/login " method='post'> <input required  type="email" placeholder="enter email_id" name="email">
            <input required type="password" placeholder="enter password" name="password">
            <input type="submit"></form>-->
            </div>
          </div>
        </body>
       
        
    </body>
</html>
<!--<html>
    <head>

    </head>
    <body>
        
        <form  action="http://localhost:8080/login " method='post'>
            <input required  type="email" placeholder="enter email_id" name="email">
            <input required type="password" placeholder="enter password" name="password">
            <input type="submit">
        </form>
        < if(pass1==false) {%>
        <p>email not found</p>
        < } %>
    </body>
</html>-->